<!--
Name: Rehana Devani
ID: 1001100807
NET ID: rxd0807

Web Data Management
Project 1
-->



<!DOCTYPE html>
<head>

    <h2> Click this button to display the JSON content </h2>
	
</head>

<body>
    <div id="bar_div" ></div>

<button id="click" style="color:red; background-color:blue; border-radius:20px;"> Click me </button>


<!-- code to display a table containing JSON data -->

<table id="table" border="1">
<tr>
<th> firstName </th>
<th> lastName </th>
</tr>
</table> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
<script src="https://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.google.com/jsapi"></script>


<script>

     $(document).ready(function(){
     $("#map").css('visibility', 'hidden');
     $("#table").css('visibility', 'hidden');
     $("#bar_div").css('visibility', 'hidden');

     
	$("#click").click(function(){
     $("#map").css('visibility', 'visible');
     $("#table").css('visibility', 'visible');
          $("#bar_div").css('visibility', 'hidden');

    $.ajax({
        url: '/json',
	    type: 'GET',
        dataType: "json",
        success: function(data) {
		console.log("success");
	    var txt = '';
	    for(var i = 0, size = data.length; i < size ; i++)
	    {
        var item = data[i];
        txt = txt + "<tr><td id = td>"+ item.firstName + "</td><td>" +     item.lastName+"</td><td>";
         } 
    console.log(txt);
    
    var length= $("#table").find('td:td').length;	
	console.log(length);

	if(length==0){
	$("#table").append(txt);
	}

	}
	});
	});
	});

</script>

<! Code to display locations as dots on Google Map -->
 
  <div id="map" style="width: 500px; height: 400px;"></div>

  <script type="text/javascript">
    
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    $.ajax({
        url: '/json',
	type: 'GET',
        dataType: "json",
	
        success: function(data) {
		console.log("success");
	var txt = '';
	for(var i = 0, size = data.length; i < size ; i++)
	{
        
       var item = data[i];
   txt = item['location'];
   var locString=txt.split(',',2);
   var lat=parseFloat(locString[0]);
   var lon=parseFloat(locString[1]);
   marker = new google.maps.Marker({
   position: new google.maps.LatLng(lat, lon),
   map: map
    });
    
     google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
    //      infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    
    }
    }
	});
	
  </script>
 
 
 
 <!--code to display JSON data in chart using Google charts -->
 
 
 <script>
 
function ajax_data(type, url, success)
{
$.ajax({
type:'GET',
url:'/json',
dataType:"json",


success:function(data){
console.log("success");
var txt = '';
	for(var i = 0, size = data.length; i < size ; i++)
	{
        
 var item = data[i];
chart_data = item['value'];
}
charts(chart_data,"BarChart");
}

}).done(function()
{
drawVisualization();
});
}
	
</script>


<script>

function charts(chart_data,ChartType)
{
var c=ChartType;
var jsonData=chart_data;
google.load("visualization", "1", {packages:["corechart"], callback: drawVisualization});

function drawVisualization() 
{
var data = new google.visualization.DataTable();
data.addColumn('chart_data');

$.each(jsonData, function(i,jsonData)
{
var value=jsonData.value;

data.addRow(value);
});

var options = {
title : "Word Population Density",
animation:{ 
duration: 3000, 
easing: 'out', 
startup: true
},
colorAxis: {colors: ['#54C492', '#cc0000']},
datalessRegionColor: '#dedede',
defaultColor: '#dedede'
};

var chart;
if(c=="BarChart") // Column Charts
chart=new google.visualization.ColumnChart(document.getElementById('bar_div'));
chart.draw(chart_data, options);
}
}

var options = {
title : "Word Population Density",
is3D: true, //Pie Charts
colors : ['#54C492','#f96302' ], 
animation:{ 
duration: 3000, 
easing: 'out', 
startup: true
},
vAxis: {title: "Vertical Axis Title"}, 
hAxis: {title: "Horizontal Axis Title "}, 
colorAxis: {colors: ['#54C492', '#cc0000']}, 
datalessRegionColor: '#dedede', 
defaultColor: '#dedede' 
};


</script>
</body>
</html>  



